<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzdd.smallspending.member.MemberMapper">
    <insert id="insertMember" parameterType="MemberDto">
        INSERT INTO
            MEMBER(
                    ID,
                    PWD,
                    NAME,
                    NICK
                    )
        VALUES (
                #{id},
                #{pwd},
                #{name},
                #{nick}
               )
    </insert>

    <select id="selectMyPage" parameterType="java.lang.Integer" resultType="MemberDto">
        SELECT M.NO,
               M.ID,
               M.NICK,
               S.NO,
               S.AMOUNT,
               S.CATEGORY,
               S.CONTENT,
               S.OPEN_YN,
               S.WRITE_DATE
        FROM MEMBER M
        JOIN SPENDING S on M.NO = S.MEMBER_NO
        WHERE M.NO = #{userNo}
    </select>

    <select id="selectOneById" parameterType="String" resultType="MemberDto">
        SELECT *
        FROM MEMBER
        WHERE ID = #{value}
    </select>

    <select id="selectOneByNick" parameterType="String" resultType="MemberDto">
        SELECT *
        FROM MEMBER
        WHERE NICK = #{value}
    </select>

    <update id="deleteOneMember" parameterType="MemberDto">
        UPDATE MEMBER
        SET QUIT_YN = 'Y'
        WHERE ID = #{id}
    </update>
</mapper>