<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzdd.smallspending.member.MemberMapper">
    <insert id="insertMember" parameterType="MemberRequestDto">
        INSERT INTO MEMBER(ID,
                           PWD,
                           NAME,
                           NICK)
        VALUES (#{id},
                #{pwd},
                #{name},
                #{nick})
    </insert>

    <insert id="insertOauthMember" parameterType="MemberRequestDto">
        INSERT INTO MEMBER(ID,
                           NAME)
        VALUES (#{id},
                #{name})
    </insert>

    <update id="deleteOneMember" parameterType="int">
        UPDATE MEMBER
        SET QUIT_YN = 'Y'
        WHERE NO = #{no}
    </update>

    <update id="updateNick" parameterType="MemberRequestDto">
        UPDATE MEMBER
        SET NICK = #{nick}
        WHERE NO = #{no}
          AND QUIT_YN = 'N'
    </update>

    <update id="updateIntroduce" parameterType="MemberRequestDto">
        UPDATE MEMBER
        SET INTRODUCE = #{introduce}
        WHERE NO = #{no}
          AND QUIT_YN = 'N'
    </update>

    <update id="updatePwd" parameterType="MemberRequestDto">
        UPDATE MEMBER
        SET pwd = #{pwd}
        WHERE NO = #{no}
          AND QUIT_YN = 'N'
    </update>

    <select id="selectOneById" parameterType="String" resultType="com.zzdd.smallspending.member.MemberResponseDto$Member">
        SELECT NO, ID, PWD, NAME, NICK, INTRODUCE, ENROLL_DATE, QUIT_YN
        FROM MEMBER
        WHERE ID = #{id}
          AND QUIT_YN = 'N'
    </select>

    <select id="selectOneByNick" parameterType="String" resultType="MemberResponseDto">
        SELECT NO, ID, PWD, NAME, NICK, INTRODUCE, ENROLL_DATE, QUIT_YN
        FROM MEMBER
        WHERE NICK = #{value}
    </select>

    <select id="selectOneByNo" parameterType="int" resultType="MemberResponseDto">
        SELECT NO, ID, PWD, NAME, NICK, INTRODUCE, ENROLL_DATE, QUIT_YN
        FROM MEMBER
        WHERE NO = #{value}
          AND QUIT_YN = 'N'
    </select>

</mapper>