<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzdd.smallspending.member.MemberMapper">
    <insert id="insertMember" parameterType="MemberRequestDto.SignUp">
        INSERT INTO MEMBER(ID,
                           PWD,
                           NAME,
                           NICK)
        VALUES (#{id},
                #{pwd},
                #{name},
                #{nick})
    </insert>

    <update id="deleteOneMember" parameterType="MemberRequestDto">
        UPDATE MEMBER
        SET QUIT_YN = 'Y'
        WHERE NO = #{no}
    </update>

    <update id="updateMyPage" parameterType="MemberRequestDto">
        UPDATE MEMBER
        SET NICK      = #{nick},
            INTRODUCE = #{introduce}
        WHERE NO = #{no}
          AND QUIT_YN = 'N'
    </update>

    <update id="insertIntroduce" parameterType="MemberRequestDto">
        UPDATE MEMBER
        SET INTRODUCE = #{introduce}
        WHERE NO = #{no}
          AND QUIT_YN = 'N'
    </update>

    <update id="updatePwd" parameterType="MemberRequestDto">
        UPDATE MEMBER
        SET pwd = #{pwd}
        WHERE NO = #{no}
          AND QUIT_YN = 'N'
    </update>

    <select id="selectOneById" parameterType="String" resultType="MemberDto">
        SELECT *
        FROM MEMBER
        WHERE ID = #{value}
          AND QUIT_YN = 'N'
    </select>

    <select id="selectOneByNick" parameterType="String" resultType="MemberDto">
        SELECT *
        FROM MEMBER
        WHERE NICK = #{value}
    </select>

    <select id="selectOneByNo" parameterType="int" resultType="MemberDto">
        SELECT *
        FROM MEMBER
        WHERE NO = #{value}
          AND QUIT_YN = 'N'
    </select>

</mapper>