<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzdd.smallspending.post.PostMapper">
    <insert id="insertPost" parameterType="PostDto">
        INSERT INTO SPENDING(MEMBER_NO,
                             AMOUNT,
                             CATEGORY,
                             CONTENT,
                             OPEN_YN)
        VALUES (#{memberNo},
                #{amount},
                #{category},
                #{content},
                #{openYN})
    </insert>
    <select id="selectListAll" parameterType="PageDto" resultType="PostDto">
        SELECT NO,
               MEMBER_NO,
               AMOUNT,
               CATEGORY,
               CONTENT,
               WRITE_DATE
        FROM SPENDING
        WHERE OPEN_YN = 'Y'
        ORDER BY WRITE_DATE DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectListByNo" parameterType="PageDto" resultType="PostDto">
        SELECT
        NO,
        MEMBER_NO,
        AMOUNT,
        CATEGORY,
        CONTENT,
        WRITE_DATE
        FROM SPENDING
        WHERE MEMBER_NO = #{memberNo}
        <if test="memberNo != currentMemberNo">
            AND OPEN_YN = 'Y'
        </if>
        ORDER BY WRITE_DATE DESC
        LIMIT #{size}
        OFFSET #{offset}
    </select>

    <update id="updateUserPost" parameterType="PostDto">
        UPDATE SPENDING
        SET AMOUNT   = #{amount},
            CATEGORY = #{category},
            CONTENT  = #{content},
            OPEN_YN  = #{openYN}
        WHERE NO = #{no}
          AND MEMBER_NO = #{memberNo}
    </update>

    <delete id="deletePost" parameterType="PostDto">
        UPDATE SPENDING
        SET DELETE_YN = 'Y'
        WHERE NO = #{no}
        AND MEMBER_NO = #{memberNo}
    </delete>
    
    <select id="selectStatistics" parameterType="StatisticsRequestDto" resultType="StatisticsDto">
        SELECT SUM(AMOUNT) AS AMOUNT,
               CATEGORY,
               DATE_FORMAT(WRITE_DATE, '%Y-%m') AS DATE
        FROM SPENDING
        WHERE MEMBER_NO = #{memberNo}
        AND DATE_FORMAT(WRITE_DATE, '%Y-%m') = #{date}
        GROUP BY DATE, CATEGORY;
    </select>
</mapper>