<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzdd.smallspending.post.PostMapper">
    <insert id="insertPost" parameterType="PostRequestDto" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO SPENDING(MEMBER_NO,
                             AMOUNT,
                             CATEGORY,
                             CONTENT,
                             OPEN_YN)
        VALUES (#{memberNo},
                #{amount},
                #{category},
                #{content},
                #{openYN})
    </insert>

    <select id="selectListAll" parameterType="PostRequestDto" resultType="com.zzdd.smallspending.post.PostResponseDto$Post">
        SELECT NO,
               MEMBER_NO,
               AMOUNT,
               CATEGORY,
               CONTENT,
               WRITE_DATE
        FROM SPENDING
        WHERE OPEN_YN = 'Y'
        ORDER BY WRITE_DATE DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectListByNo" parameterType="PostRequestDto" resultType="com.zzdd.smallspending.post.PostResponseDto$Post">
        SELECT
        NO,
        MEMBER_NO,
        AMOUNT,
        CATEGORY,
        CONTENT,
        WRITE_DATE
        FROM SPENDING
        WHERE MEMBER_NO = #{memberNo}
        <if test="memberNo != currentMemberNo">
            AND OPEN_YN = 'Y'
        </if>
        ORDER BY WRITE_DATE DESC
        LIMIT #{size}
        OFFSET #{offset}
    </select>

    <update id="updateUserPost" parameterType="PostRequestDto">
        UPDATE SPENDING
        SET AMOUNT   = #{amount},
            CATEGORY = #{category},
            CONTENT  = #{content},
            OPEN_YN  = #{openYN}
        WHERE NO = #{no}
          AND MEMBER_NO = #{memberNo}
    </update>

    <delete id="deletePost" parameterType="PostRequestDto">
        UPDATE SPENDING
        SET DELETE_YN = 'Y'
        WHERE NO = #{no}
        AND MEMBER_NO = #{memberNo}
    </delete>
    
    <select id="selectStatistics" parameterType="PostRequestDto" resultType="com.zzdd.smallspending.post.PostResponseDto$Statistics">
        SELECT SUM(AMOUNT) AS AMOUNT,
               CATEGORY,
               DATE_FORMAT(WRITE_DATE, '%Y-%m') AS DATE
        FROM SPENDING
        WHERE MEMBER_NO = #{memberNo}
        AND DATE_FORMAT(WRITE_DATE, '%Y-%m') = #{date}
        GROUP BY DATE, CATEGORY;
    </select>

    <insert id="insertReaction" parameterType="PostRequestDto">
        INSERT INTO REACTION(MEMBER_NO,
                             SPENDING_NO,
                             REACTION_CATEGORY)
        VALUES (#{memberNo},
                #{postNo},
                #{reaction})
    </insert>

    <insert id="upsertReactionCnt" parameterType="PostRequestDto">
        INSERT INTO REACTION_CNT(SPENDING_NO,
                                 REACTION_CATEGORY,
                                 COUNT)
        VALUES (#{postNo},
                #{reaction},
                1)
        ON DUPLICATE KEY UPDATE COUNT = COUNT + 1
    </insert>

    <delete id="deleteReaction" parameterType="PostRequestDto">
        DELETE FROM REACTION
        WHERE MEMBER_NO = #{memberNo}
          AND SPENDING_NO = #{postNo}
          AND REACTION_CATEGORY = #{reaction}
    </delete>

    <update id="decreaseReactionCnt" parameterType="PostRequestDto">
        UPDATE REACTION_CNT
        SET COUNT = COUNT - 1
        WHERE SPENDING_NO = #{postNo}
          AND REACTION_CATEGORY = #{reaction}
    </update>

</mapper>